body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    height: 100%;
    background: #000;

}

.header-block {
    padding: 30px;
    border-bottom: 1px solid #9b8708;
}

.body-block {
    padding: 30px 30px 0 30px;
    margin-bottom: 0;

}

.header-block .logo-block img {
    width: 100%;
    max-width: 160px;
}

.header-block .description-block span {
    display: block;
}

.header-block .description-block .gold-text {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 38px;
    color: gold;
    position: relative;
}

.header-block .description-block .grey-text {
    font-size: 15px;
    padding: 0 0 15px;
}

.header-block .description-block .white-text {
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 18px;
}

.header-block .description-block .btn.first-btn {
    /*margin-left: 3px;*/
}

.header-block .description-block .btn {
    /*margin-left: 15px;*/
    margin-bottom: 10px;
    background: gold;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-weight: 900;
}

.feature-item {
    word-break: break-word;
    margin-bottom: 50px;
}

.feature-item span {
    display: block;
    margin-left: 45px;
}

.feature-item b {
    cursor: pointer;
    /*color: #ffffff;*/
    color: gold;
}

/*.feature-item a:hover {*/
    /*color: gold;*/
/*}*/

.feature-item span,
.feature-item b {
    font-size: 18px;
}


.feature-item span {
    color: #8c8c8c;
}

.feature-item i {
    color: gold;
    font-size: 18px;
    margin-left: 15px;
}


.feature-item i span {
    display: inline-block;
    margin: 0;
    color: gold;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


/*Media query*/

@media screen and (max-width: 992px) {
    .header-block {
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        flex-direction: column-reverse;
    }

    .description-block .gold-text {
        line-height: normal;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .description-block .grey-text {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    html {
        height: inherit;
    }

    .logo-block {
        text-align: center;
    }
}

@media screen and (max-width: 544px) {
    .header-block .description-block .white-text {
        margin-top: 20px;
        font-size: 15px;
    }

    .header-block .description-block a {
        width: 100%;
    }


}
.header-block .description-block i {
    margin-right: 10px;
}

.custom-nav, .custom-footer, .footer-copyright {
    background-color: #000 !important;
}

.custom-footer {
    padding-bottom: 15px;
}

.custom-footer .container {
    text-align: center;
}

.custom-footer .container a {
    color: #fff;
    font-weight: bold;
}

.custom-footer .container a:hover {
    color: gold;
    text-decoration: underline;
}

.custom-nav .nav-wrapper ul li a {
    font-weight: bold;
    font-size: 18px;
}

.custom-nav .nav-wrapper ul li a:hover {
    color: gold;
    text-decoration: underline;
}

